* {
    /* prevents an automatic margin causing white space */
    margin: 0px;
  }

  body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: burlywood;
}

header {
   
    position: fixed;
    color: lightblue;
    background-color: burlywood; 
    z-index: 1;
    height: 40px;
    width: 100%;
    padding-top: 5px;
}


a {
    color:peru;
    text-decoration: none;
    font-weight: bold;
}


nav li {
    display: inline;
    padding: 10px 20px;
    line-height: 25px;
    background-color: burlywood;
}

a:hover {
    color:lightblue;
}

.container {

    position:absolute;
    top:40px;
    text-align: justify;
    background-color: lightskyblue;

}

  main {
    display: grid;
  
    height:1000px;
  
   
    grid-template-rows: 200px repeat(4, 1fr) 50px;

    /* creates 4 equal sized columns */
    grid-template-columns: repeat(4, 1fr);
    margin: 0;

    grid-template-areas: "header header header header"
    "topArticle topArticle topArticle sideImage"
    "bottomArticle bottomArticle bottomArticle sideImage"
    "menu menu menu menu"
    "menu menu menu menu"
    "footer footer footer footer";
  }
    
  
  #header {
     grid-area: header;
     background-image: url("../img/taco.jpg");
     background-size: cover;
     
  }
  
  #topArticle {
    background-color: lightskyblue;
    grid-area: topArticle;
  }

  #topArticle p, #bottomArticle p {
    padding: 25px;
  }
  
  #sideImage {
    background-color: lightskyblue;
    grid-area: sideImage;
    padding: 50px;
    margin: auto;
  }
  
  #bottomArticle {
    background-color: lightskyblue;
    grid-area: bottomArticle;
  }
  
  #menu {
    background-color:  lightskyblue;
    grid-area: menu;
    padding: 10px;
    background-image: url("../img/taco.jpg");
    background-size: cover;
  }




.menuItem {
  display: inline-block;
  padding: 10px 20px;
  line-height: 25px;
}

#footer {
    grid-area: footer;
 }
  
h1 {
    color: lightblue;
    padding-left: 10px;
    line-height: 75px;
}
  
h2 {
  color: peru;
  padding: 10px 25px;
} 



.menuItem h3, .menuItem p {
  color: burlywood;
}


.menuItem img {
  border: 1px;
  border-style: solid;
  border-color: burlywood;
}
  footer {
    color: peru;
    background-color: burlywood;
    padding-left: 10px;
    line-height: 50px;
}
